// body {
// 	margin: 0;
// 	overflow: hidden;
//     background-color: rgb(0, 0, 0);
//     background-image:url(/assets/img/back/tile.png);
// }

      
canvas {    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    max-height: 100%;
    max-width: 100%;              
}	

@media only screen and (orientation:portrait) {    
    canvas {                
        position: absolute;
        top: 0%;
        left: 0%;        
        height: 100%;    
        width: 100%;     
    }     
    // html {                                             
        /// background-image:url(/assets/img/back/orientation.jpg);        
        // position: absolute;
        // top: 0%;
        // left: 0%;        
    //    -ms-transform: translate(-50%, -50%);
    //    transform: translate(-50%, -50%);          
    // }        
}

#gameArea {
    position: absolute;
    left:     50%;
    top:      50%;
}

// canvas {
//     width: 100%;
//     height: 100%;
// }

  